/* Basic Styles
================================================== */
.wrapper {
  overflow: hidden;
  position: relative; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html * {
  outline: 0 !important; }

body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #777;
  line-height: 1.5;
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 2rem;
  color: #323232; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

strong {
  font-family: "Merriweather", serif;
  font-weight: 600; }

p {
  margin: 0 0 1.5rem; }

.fa {
  margin-right: 0.5rem; }

/* Images
================================================== */
img {
  border-style: none; }

/* Link
================================================== */
a {
  color: #efd334;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none; }
  a:hover {
    color: #f3dd63;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }

a:hover,
a:focus {
  text-decoration: none;
  outline: none; }

/* Input textarea select
================================================== */
input,
textarea,
select {
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif;
  vertical-align: middle;
  color: #666;
  font-weight: 300; }

textarea {
  resize: vertical; }

/* Form
================================================== */
form,
fieldset {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border-style: none; }

::selection {
  background: #efd334;
  color: #fff; }

::-moz-selection {
  background: #efd334;
  color: #fff; }

.clear:after, .clear:before {
  content: " ";
  display: table; }
.clear:after {
  clear: both; }

.header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 4.1em; }
  .header .navbar {
    background-color: #1d5a96;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    margin: 0;
    position: fixed;
    border: none;
    border-bottom: 1px solid #ddd;
    min-height: auto; }
  .header .logo {
    margin: 0.3em 0; }
    .header .logo .navbar-brand {
      color: #fff;
      font-size: inherit;
      text-transform: uppercase; }
  .header .navbar-nav > li > a {
    color: #fff;
    padding: 1.5em 1em;
    text-transform: uppercase; }
  .header .navbar-nav > li:last-child a {
    border: 1px solid #efd334;
    padding: 0.6em 1.35em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin: 0.8em 0; }
  .header .navbar-nav > .active > a,
  .header .navbar-nav > .active > a:focus,
  .header .navbar-nav > .active > a:hover,
  .header .navbar-nav > li > a:hover,
  .header .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #efd334; }

.overlay, .camera_overlayer {
  background: rgba(29, 90, 150, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.section {
  padding: 3em 0; }

.heading {
  text-transform: uppercase; }

.heading-wrap {
  text-align: center;
  margin-bottom: 2em; }

.cont-wrap h3 {
  font-weight: normal;
  font-size: 1.856rem;
  margin-bottom: 0.5em; }
  .cont-wrap h3 i {
    color: #efd334;
    position: absolute;
    left: 0;
    top: 5px; }
.cont-wrap .holder {
  position: relative;
  padding-left: 2.2em;
  margin: 0 0 1em;
  text-align: justify; }

.box-holder {
  margin-top: 2em; }
  .box-holder .box-wrap {
    background: #f6f6f6;
    padding: 2em 0; }
    .box-holder .box-wrap:nth-child(even) {
      background: #fff; }
      .box-holder .box-wrap:nth-child(even) .two-wrap > div {
        display: flex;
        flex-wrap: wrap; }
        .box-holder .box-wrap:nth-child(even) .two-wrap > div div {
          order: 2; }
          .box-holder .box-wrap:nth-child(even) .two-wrap > div div:nth-child(even) {
            order: 1; }

.info-wrap {
  background: #1d5a96;
  padding: 1em 0; }
  .info-wrap .hold {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .info-wrap .hold h2 {
      margin: 0;
      color: #fff; }
    .info-wrap .hold .btn {
      background-color: #efd334;
      padding: 0.5em 1.5em;
      color: #000;
      border-color: #efd334; }
      .info-wrap .hold .btn:hover, .info-wrap .hold .btn:focus {
        background-color: transparent;
        color: #fff; }

.camera_wrap .camera_pag .camera_pag_ul {
  margin: -6rem 0 0;
  text-align: center; }

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
  background: #1d5a96; }

.camera_prevThumbs,
.camera_nextThumbs,
.camera_prev,
.camera_next,
.camera_commands,
.camera_thumbs_cont {
  background: #1d5a96; }

.camera_prev > span {
  background-position: 0 -160px; }

.camera_next > span {
  background-position: -40px -161px; }

.camera_commands > .camera_stop {
  background-position: -120px -160px; }

.camera_commands > .camera_play {
  background-position: -80px -160px; }

.banner {
  position: relative;
  height: 40vmax; }
  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .banner .text-wrap {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(calc(-50% + 100px));
    -moz-transform: translateX(-50%) translateY(calc(-50% + 100px));
    -ms-transform: translateX(-50%) translateY(calc(-50% + 100px));
    -o-transform: translateX(-50%) translateY(calc(-50% + 100px));
    transform: translateX(-50%) translateY(calc(-50% + 100px));
    text-align: center;
    color: #fff; }
    .banner .text-wrap h2 {
      font-size: 2.8vw;
      color: #fff;
      text-transform: uppercase;
      -webkit-text-shadow: 0 0 2px #1d5a96;
      -moz-text-shadow: 0 0 2px #1d5a96;
      -ms-text-shadow: 0 0 2px #1d5a96;
      -o-text-shadow: 0 0 2px #1d5a96;
      text-shadow: 0 0 2px #1d5a96; }
    .banner .text-wrap p {
      width: 50vw;
      margin: 0 auto 2rem; }
    .banner .text-wrap .btn {
      padding: 0.5em 1.5em; }
  .banner .overlay, .banner .camera_overlayer {
    z-index: 1; }

.banner.inner {
  height: 15vmax; }
  .banner.inner .overlay, .banner.inner .camera_overlayer {
    background: rgba(29, 90, 150, 0.7); }
  .banner.inner .text-wrap {
    top: 15%; }
    .banner.inner .text-wrap h2 {
      font-size: 2.5vw; }

.footer {
  background: url("image/img02.jpg") center 30%;
  background-size: cover;
  border-top: 2px solid #1d5a96;
  position: relative; }
  .footer .overlay, .footer .camera_overlayer {
    background: rgba(0, 0, 0, 0.85); }
  .footer .footer-top {
    padding: 2.5em 0;
    font-size: 1.5srem; }
  .footer .social-icons ul {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline; }
    .footer .social-icons ul li {
      flex-basis: 2vw;
      text-align: center; }
  .footer .box h3 {
    color: #fff;
    font-size: 1.8rem; }
  .footer .box a {
    color: #919191; }
    .footer .box a:hover {
      color: #efd334; }
  .footer .box .footer-logo {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1; }
    .footer .box .footer-logo a {
      color: #fff; }
  .footer .box ul li {
    margin-bottom: 0.3em; }
  .footer .footer-btm {
    text-align: center;
    border-top: 1px solid #444;
    color: #919191;
    padding: 1.5em;
    position: relative; }
    .footer .footer-btm p {
      margin: 0; }

/* about */
.general .cont-wrap {
  text-align: justify; }
  .general .cont-wrap h2 {
    text-transform: uppercase; }

.text-transform {
  text-transform: uppercase; }

.faq .nav-tabs a {
  text-align: center;
  color: #1d5a96;
  padding: 1.5em 2.5em;
  min-height: calc(7em); }
  .faq .nav-tabs a small {
    display: block;
    color: #777; }
.faq .nav-tabs > li {
  width: calc(33.33333% - 10px); }
.faq .nav-tabs > li.active > a,
.faq .nav-tabs > li.active > a:focus,
.faq .nav-tabs > li.active > a:hover {
  color: #1d5a96; }
.faq .tab-content {
  padding: 1em;
  border: 1px solid #ddd;
  border-top: none; }
  .faq .tab-content .panel-group,
  .faq .tab-content .panel-default {
    margin-bottom: 0; }
  .faq .tab-content .panel-title a:hover {
    color: #1d5a96; }

.team .team-wrap img {
  width: 100%; }
.team .team-wrap .box {
  float: none;
  display: inline-block;
  vertical-align: top;
  margin: 0 -2px 1.5em; }
.team .name-wrap {
  background: #1d5a96;
  color: #fff;
  padding: 1em; }
  .team .name-wrap strong {
    font-size: 1.5em;
    display: block; }
  .team .name-wrap p {
    margin: 0; }

.TopButton {
  background: #1d5a96;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  bottom: 1rem;
  -webkit-box-shadow: 0 0 5px 0 rgba(48, 114, 172, 0.3);
  -moz-box-shadow: 0 0 5px 0 rgba(48, 114, 172, 0.3);
  -ms-box-shadow: 0 0 5px 0 rgba(48, 114, 172, 0.3);
  -o-box-shadow: 0 0 5px 0 rgba(48, 114, 172, 0.3);
  box-shadow: 0 0 5px 0 rgba(48, 114, 172, 0.3);
  color: #fff;
  display: none;
  height: 45px;
  padding: 10px;
  position: fixed;
  right: 1rem;
  text-align: center;
  text-decoration: none;
  width: 45px;
  z-index: 999; }
  .TopButton:hover {
    color: #fff; }

.TopButton i {
  font-size: 3rem;
  line-height: 0.75;
  margin: 0; }

.btn-warning {
  background-color: #dec012;
  border-color: #dec012;
  color: #000; }
  .btn-warning:hover, .btn-warning:focus {
    background-color: #c7ab10;
    border-color: #c7ab10; }

/*# sourceMappingURL=style.css.map */
