.overlay{
	background: rgba(29, 90, 150, 0.5);
	@include Position(absolute);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.section{
	padding: 3em 0;
}
.heading{
	@include textTransform(uppercase);
}
.heading-wrap{
	@include textAlign(center);
	margin-bottom: 2em;
}
.cont-wrap{
	h3{
		font-weight: normal;
		font-size: 1.856rem;
		margin-bottom: 0.5em;
		i{
			color: $primaryAnchorColor;
			@include Position(absolute);
			left: 0;
			top: 5px;
		}
	}
	.holder{
		@include Position(relative);
		padding-left: 2.2em;
		margin: 0 0 1em;
		@include textAlign(justify);
	}
}
// holder wrap
.box-holder{
	margin-top: 2em;
	.box-wrap{
		background: $white4;
		padding: 2em 0;
		&:nth-child(even){
			background: $white;
			.two-wrap{
				>div{
					@include Display(flex);
					flex-wrap: wrap;
					div{
						order: 2;
						&:nth-child(even){
							order: 1;
						}
					}
				}
			}
		}
		// &:last-child{
		// 	padding-bottom: 0;
		// }
	}
}
// info wrap
.info-wrap{
	background: $blueColor;
	padding: 1em 0;
	.hold{
		@include Display(flex);
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		h2{
			margin: 0;
			color: $white;
		}
		.btn{
		    background-color: $primaryAnchorColor;
		    padding: 0.5em 1.5em;
		    color: $black;
		    border-color: $primaryAnchorColor;
		    &:hover,
		    &:focus{
		    	background-color: transparent;
		    	color: $white;
		    }
		}
	}
}