.footer{
	background: url('image/img02.jpg') center 30%;
	background-size: cover;
	border-top: 2px solid $blueColor;
	@include Position(relative);
	.overlay{
		background: rgba(0, 0, 0, 0.85);
	}
	.footer-top{
		padding: 2.5em 0;
		font-size: 1.5srem;
	}
	.social-icons{
		ul{
			@include Display(flex);
			flex-wrap: wrap;
			align-items: baseline;
			li{
				flex-basis: 2vw;
				@include textAlign(center);
			}
		}
	}
	.box{
		h3{
			color: $white;
			font-size: 1.8rem;
		}
		a{
			color: lighten($primaryColor, 10%);
			
			&:hover{
				color: $primaryAnchorColor;
			}
		}
		.footer-logo{
			font-size: 2.5em;
			font-weight: bold;
			line-height: 1;
			a{
				color: $white;
			}
		}
		ul{
			li{
				margin-bottom: 0.3em;
			}
		}
	}
	.footer-btm{
		@include textAlign(center);
		border-top: 1px solid #444;
		color: lighten($primaryColor, 10%);
		padding: 1.5em;
		@include Position(relative);
		p{
			margin: 0;
		}
	}
}