.TopButton{
	background: $blueColor;
    @include BorderRadius(100%);
    bottom: 1rem;
    -webkit-box-shadow: 0 0 5px 0 rgba(48, 114, 172, 0.3);
    -moz-box-shadow: 0 0 5px 0 rgba(48, 114, 172, 0.3);
    -ms-box-shadow: 0 0 5px 0 rgba(48, 114, 172, 0.3);
    -o-box-shadow: 0 0 5px 0 rgba(48, 114, 172, 0.3);
    box-shadow: 0 0 5px 0 rgba(48, 114, 172, 0.3);
    color: $white;
    @include Display(none);
    height: 45px;
    padding: 10px;
    @include Position(fixed);
    right: 1rem;
    @include textAlign(center);
    @include textDecoration(none);
    width: 45px;
    z-index: 999;
    
    &:hover{
        color: $white;
    }
}

.TopButton i{
	font-size: 3rem;
    line-height: 0.75;
    margin: 0;
}