@import 'mixin';
@import 'variables';
@import '../themes/theme';

/* Basic Styles
================================================== */
.wrapper{
	@include Overflow(hidden);
	@include Position(relative);
}
html{
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html *{
	outline: 0 !important;
}
body{
	background: $white;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	height:100%;
	font-size: $baseFontSize;
	font-family: $primaryFontFamily;
	color: $primaryColor;
	@include lineHeight(1.5);
	margin: 0;
}
ul{
	@include MarginNone;
	@include PaddingNone;
	@include ListStyle(none);
}

/* Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
	font-family: $secondaryFontFamily;
	@include fontWeight(700);
	@include lineHeight(1.3);
	margin: 0 0 2rem;
	color: $headingColor;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	@include fontWeight(inherit);
}
h1{
	font-size: $h1;
}
h2{
	font-size: $h2;
}
h3{
	font-size: $h3;
}
h4{
	font-size: $h4;
}
h5{
	font-size: $h5;
}
h6{
	font-size: $h6;
}
strong{
	font-family: $secondaryFontFamily;
	@include fontWeight(600);
}
p{
	margin: 0 0 1.5rem;
}
.fa{
	@include MarginRight(0.5rem);
}
/* Images
================================================== */
img{
	@include BorderStyle(none);
}
/* Link
================================================== */
a{
	color: $primaryAnchorColor;
	@include Transition();
	@include textDecoration(none);

	&:hover{
		color: $primaryHoverColor;
		@include ScaleTransition();
	}
} 

a:hover,
a:focus{
	@include textDecoration(underline);
	@include Outline(none);
}
/* Input textarea select
================================================== */
input,
textarea,
select{
	font-size: 100%;
	font-family: $primaryFontFamily;
	@include VerticalAlign(middle);
	color: $formColor;
	@include fontWeight(300);
}
textarea{
	@include resizable(vertical);
}
/* Form
================================================== */
form,
fieldset{
	@include MarginNone;
	@include PaddingNone;
	margin:0;
	padding:0;
	border-style:none;
}
::selection {background:$selectionBackColor; color: $white;}
::-moz-selection {background:$selectionBackColor; color: $white;}

.clear{
	&:after,
	&:before{
		content: " ";
		display: table;
	}
	&:after{
		clear: both;
	}
}
