// custom mixins
@mixin textDecoration($option){
	text-decoration: $option;
}
@mixin textAlign($opt){
	text-align: $opt;
}
@mixin textTransform($option) {
	text-transform: $option;
}
@mixin Outline($option) {
	outline: $option;
}
@mixin BorderStyle($style) {
	border-style: $style;
}
@mixin ListStyle($style) {
	list-style: $style;
}

// font mixins
@mixin fontWeight($weight) {
	font-weight: $weight;
}
@mixin lineHeight($nums) {
	line-height: $nums;
}
// margin
@mixin Margin($top, $right, $btm, $left) {
	margin: $top $right $btm $left;
}
@mixin MarginAll($value) {
	margin: $value;
}
@mixin MarginTop($top) {
	margin-top: $top;
}
@mixin MarginRight($right){
	margin-right: $right;
}
@mixin MarginBtm($btm){
	margin-bottom: $btm;
}
@mixin MarginLeft($left) {
	margin-left: $left;
}
@mixin MarginNone {
	margin: 0;
}

// padding
@mixin Padding($top, $right, $btm, $left) {
	padding: $top $right $btm $left;
}
@mixin PaddingAll($value) {
	padding: $value;
}
@mixin PaddingTop($top) {
	padding-top: $top;
}
@mixin PaddingRight($right){
	padding-right: $right;
}
@mixin PaddingBtm($btm){
	padding-bottom: $btm;
}
@mixin PaddingLeft($left) {
	padding-left: $left;
}
@mixin PaddingNone {
	padding: 0;
}

@mixin VerticalAlign($option) {
	vertical-align: $option;
}
@mixin resizable($opt) {
	resize: $opt;
}

// overflow
@mixin Overflow($option) {
	overflow: $option;
}
// display
@mixin Display($option) {
	display: $option;
}
@mixin Position($pos) {
	position: $pos;
}

@mixin Border($value) {
	border: $value;
}

// box shadow
@mixin GradientBackground($topColor, $bottomColor) {
	background: -moz-linear-gradient(top, $topColor 0%, $bottomColor 100%);  
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$topColor), color-stop(100%,$bottomColor));  
	background: -webkit-linear-gradient(top, $topColor 0%,$bottomColor 100%);  
	background: -o-linear-gradient(top, $topColor 0%,$bottomColor 100%);  
	background: linear-gradient(to bottom, $topColor 0%,$bottomColor 100%);  
	background-color: $topColor;
}

// border-radius
@mixin BorderRadius($num) {
	-webkit-border-radius: $num;
	-moz-border-radius: $num;
	-ms-border-radius: $num;
	-o-border-radius: $num;
	border-radius: $num;
}

// scale on transition
@mixin Transition() {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

@mixin Transition2{
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}

@mixin ScaleTransition(){
	-webkit-transition: all 0.5s ease-in-out; 
	-moz-transition: all 0.5s ease-in-out; 
	-ms-transition: all 0.5s ease-in-out; 
	-o-transition: all 0.5s ease-in-out; 
	transition: all 0.5s ease-in-out; 
}

@mixin TransformY{
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

@mixin TranformYnegative{
	-webkit-transform: translateY(-86px);
	-moz-transform: translateY(-86px);
	-ms-transform: translateY(-86px);
	-o-transform: translateY(-86px);
	transform: translateY(-86px);
}

@mixin ScaleTransform($opt) {
	-webkit-transform: scale($opt);
	-moz-transform: scale($opt);
	-ms-transform: scale($opt);
	-o-transform: scale($opt);
	transform: scale($opt);
}

// background
@mixin Bg1{
	background: #d27ff1;
}
@mixin Bg2{
	background: #41cac0;
}
@mixin Bg3{
	background: #8386e7;
}


// Media query mixins
@mixin md-screen {
	@media only screen and (min-width: 992px) and (max-width: 1149px) {
		@content;
	}
}
@mixin standard-screen {
	@media only screen and (min-width: 960px) and (max-width: 991px) {
		@content;
	}
}

@mixin tablet-screen {
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		@content;
	}
}
@mixin allMobile-screen {
	@media only screen and (max-width: 767px) {
		@content;
	}
}

@mixin landscapeMobile-screen {
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		@content;
	}
}

