// resets variables
$primaryFontFamily: 'Source Sans Pro', sans-serif;
$secondaryFontFamily: 'Merriweather', serif;
$baseFontSize: 1.6rem;
$primaryColor: #777;
$headingColor: #323232;

// fonts 
$h1: 3rem;
$h2: 2.8rem;
$h3: 2rem;
$h4: 1.6rem;
$h5: 1.4rem;
$h6: 1.2rem;

